<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine:wght@700&display=swap" rel="stylesheet">

:root {
	--heading-font-family: 'Tangerine', cursive, sans-serif;
	--text-font-family: Raleway, sans-serif;
}

body {
    margin: 0;
    padding: 0;
   }

nav, footer {
       background-color: black;
       clear: both;
       color: aliceblue;
       list-style: none;
   }

footer {
    height: 3rem;
}


.title {
    font-family: 'Tangerine', cursive, sans-serif;
    font-size: 2rem;
    margin: auto;
}

ol {
  list-style: none;
  float: right;
  display: inline;
}

.display-area {
    width: 80%;
    max-width: 700px;
    border: 1px solid black;
    border-radius: 5%;
    margin: auto;
    height: 40vh;
    background-color: lightsteelblue;
}

.note-img {
    object-fit: scale-down;
    display: inline-block;
    max-width: 90%;
}

.is-correct {
    color: lightgray;
}

.correct{
    color: green;
    font-size: 120%;
}

.wrong {
    color:red;
    font-size: 120%;
}

.game-start {
    font-size: 2em;
}

.hint {
    font-size: 1.5em;
}

.game-timer {
    font-size: 1.8em;
    background-color: olive;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
}
