:root {
    --text-font-family: 'Raleway', sans-serif;
    --display-color: #a89b9d;
    --font-white: aliceblue;
    --nav-color: #2a2c24;
    --body-color: #CFCFEA;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
    background-color: var(--body-color);
}

/* Keeping footer at the bottom */
section {
    flex: 1;
}

nav {
    font-size: 1.2rem;
    font-family: var(--text-font-family);
    background-color: var(--nav-color);
    height: 60px;
    padding: 10px;
}


footer {
    height: 100px;
    color: var(--font-white);
    background-color: var(--nav-color);
    padding-top: 2rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Italianno', cursive, sans-serif;
    flex-wrap: nowrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--font-white);
}

div>p {
    margin-bottom: 0;
}

button {
    border: none;
}

.game-stop {
    color: var(--nav-color);
}

.game-stop>button {
    font-size: 1.5rem;
    background-color: var(--body-color);
}

.display-area {
    width: 60%;
    max-width: 700px;
    min-height: 250px;
    border: 1px solid var(--nav-color);
    border-radius: 5%;
    margin: auto;
    height: 35vh;
    background-color: var(--display-color);
}

.note-img {
    object-fit: scale-down;
    display: inline-block;
    max-width: 80%;
    margin-top: -15px;
}

.judge {
    line-height: 2rem;
}

.is-correct {
    color: white;
}

/* Color and size change to notify answer is correct */
.correct {
    color: #30cb43;
    font-size: 120%;
    font-weight: bold;
}

/* Color and size change to notify answer is incorrect */
.wrong {
    color: #D62828;
    font-size: 120%;
    font-weight: bold;
}

/*setting for flashing start button */

.game-start {
    font-size: 2rem;
    border: none;
    animation: blinking 2s infinite;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 20vh;
}

@keyframes blinking {
    10% {
        color: transparent;
    }

    50% {
        color: yellow;
    }
}


/* For hint button in the nav bar */
.hint {
    height: fit-content;
    margin-top: 0;
    color: var(--font-white);
    background-color: var(--nav-color);
}

.hint::after {
    content: "HINT";
    font-size: 0.6rem;
    display: inline;
    padding: 0;
}

/* For the timer */
.timer-container {
    width: 60px;
    display: inline-flex;
    height: 3rem;
    border-radius: 10%;
    background-color: var(--nav-color);
    justify-content: center;
}

.game-timer {
    font-size: 2rem;
    font-family: 'Bungee Inline', cursive, sans-serif;
    color: var(--font-white);
}

/* for the keyboard layout */
.notataions {
    flex-wrap: nowrap;
}

.keywhite {
    height: 150px;
    margin: 0;
    border: 1px solid black;
    position: relative;
    padding: 2px;
    background-color: white;
}

.keywhite>btn {
    position: absolute;
    bottom: 2px;
    margin: auto;
}

.keyblack {
    background-color: black;
    height: 80px;
    float: right;
    z-index: 1;
    position: absolute;
    width: 70%;
    top: 0;
    right: -35%;
}

.keynote {
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 40%;
    width: 90%;
}

/* Media queries */

@media only screen and (max-width: 800px) {
    .display-area {
        width: 80%;
    }

    .keywhite {
        width: 12vw;
    }
}

@media only screen and (max-width: 300px) {
    .keynote {
        font-size: 0.8rem;
    }

    .btn {
        margin: auto 0;
        padding: 6px;
    }
}